@model BankOfSimba.Models.BankAccount

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    @Model.Name<br />
    @Model.Balance.ToString("0.00")
    @Model.Currency<br />
    @Model.AnimalType

</body>
</html>