<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Calculator</title>
</head>
<body>

    <h1>A very simple calc!</h1>
    <form action="/calculating" method="post">
        <label for="firstNumber">First number: </label>
        <input type="number" id="firstNumber" name="firstNumber" />
        <select name="value">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>
        <label for="secondNumber">Second number: </label>
        <input type="number" id="secondNumber" name="secondNumber" />
        <button type="submit">Let's Go!</button>
    </form>



</body>
</html>