<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add character</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/StyleSheet.css" type="text/css">
</head>
<body>
<div id="bodyAddChar">

    <div class="header">
        <h1>Add a new character</h1>
        <a href="/">Back</a>
    </div>

    <form method="post" action="/characterAdd">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
        <label for="gender">Gender: </label>
        <select id="gender" name="gender">
            <option>Male</option>
            <option>Female</option>
        </select>
        <label for="race">Race: </label>
        <select id="race" name="race">
            <option>Asura</option>
            <option>Charr</option>
            <option>Human</option>
            <option>Norn</option>
            <option>Sylvari</option>
        </select>
        <label for="level">Level</label>
        <input type="number" id="level" name="level" min="1" max="80">
        <label for="profession">Profession: </label>
        <select id="profession" name="profession">
            <option>Warrior</option>
            <option>Guardian</option>
            <option>Revenant</option>
            <option>Ranger</option>
            <option>Thief</option>
            <option>Engineer</option>
            <option>Mesmer</option>
            <option>Necromancer</option>
            <option>Elementalist</option>
        </select><br/>
        <div class="button">
        <button type="submit">Submit</button>
        </div>
    </form>
</div>

</body>
</html>