<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit a character</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/StyleSheet.css" type="text/css">
</head>
<body>
<div class="body">

    <div class="header">
        <h1>Edit a Character</h1>
        <a href="/">Cancel</a>
    </div>

    <form action="/editCharacter" method="post">
        <input type="hidden" name="id" th:value="${character.id}">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" th:value="${character.name}">
        <label for="gender">Gender: </label>
        <select id="gender" name="gender">
            <div th:switch="${character.gender.equals('Female')}">
                <p th:case="${true}">
                    <option>Male</option>
                    <option selected="">Female</option>
                </p>
                <p th:case="*">
                    <option selected="">Male</option>
                    <option>Female</option>
                </p>
            </div>
        </select>
        <label for="race">Race: </label>
        <p id="race" th:text="${character.race}">race</p>
        <label for="level">Level: </label>
        <input type="number" id="level" name="level" th:min="${character.level}"
               max="80" th:value="${character.level}">
        <label for="profession">Profession: </label>
        <p th:text="${character.profession}" id="profession">profession</p><br/>
        <div class="button">
        <button type="submit">Edit</button>
        </div>
    </form>
</div>

</body>
</html>