<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Characters</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/StyleSheet.css" type="text/css">
</head>
<body>
    <div class="body">
        <div class="header">
            <h1>List of my characters!</h1>
            <a href="/listLocation">List of locations</a>
            <a href="/addCharacter">Add a new character</a>
        </div>

        <div id="charTable">
            <table>
                <tr>
                    <th>Id: </th>
                    <th>Name: </th>
                    <th>Gender: </th>
                    <th>Race: </th>
                    <th>Level: </th>
                    <th>Profession: </th>
                    <th>Specialization: </th>
                </tr>
                <tr th:each="character : ${characters}">
                    <td th:text="${character.id}">1</td>
                    <td th:text="${character.name}">name</td>
                    <td th:text="${character.gender}">gender</td>
                    <td th:text="${character.race}">race</td>
                    <td th:text="${character.level}">80</td>
                    <td th:text="${character.profession}">warrior</td>
                    <td th:text="${character.specialization}">Berserker</td>
                    <td><a th:href="@{/{id}/editCharacter(id=${character.id})}">Edit</a></td>
                    <td><a th:href="@{/{id}/deleteCharacter(id=${character.id})}">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>