<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/StyleSheet.css" type="text/css">
</head>
<body>
    <div class="body">
        <div class="header">
            <h1>Locations</h1>
            <a href="/">Back</a>
            <a href="/addLocation">Add location</a>
        </div>

        <table>
            <tr>
                <th>Id: </th>
                <th>Name: </th>
                <th>Region: </th>
                <th>Min. Level: </th>
                <th>Max. Level: </th>
            </tr>
            <tr th:each="location : ${locations}">
                <td th:text="${location.id}">1</td>
                <td th:text="${location.name}">name</td>
                <td th:text="${location.region}">region</td>
                <td th:text="${location.minLevel}">1</td>
                <td th:text="${location.maxLevel}">80</td>
                <td>
                    <span th:if="${location.startingLoc == false}"><a th:href="@{/{id}/deleteLocation(id=${location.id})}">Delete</a></span>
                    <span th:if="${location.startingLoc != false}">Starting Location</span>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>